# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.ipynb_checkpoints
.env
.venv
.vscode/
.idea/
*.swp
*.swo
*~
data/iSeg-2017-Training/*.hdr
data/iSeg-2017-Training/*.img
models/*.keras
outputs/*.nii.gz
outputs/*.json
artifacts/
mlflow_data/
mlruns/
logs/
airflow.db
airflow.cfg
webserver_config.py
dags/__pycache__/
.dockerignore
.DS_Store
__MACOSX/
Thumbs.db
*.log
*.tmp
temp/
tmp/
mlflow.db
training_result.txt